@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ECFAE5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Scrollbar Styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}

/* Firefox Scrollbar Support */
@layer base {
  .custom-scrollbar {
    scrollbar-width: auto;
    scrollbar-color: #ccc #f1f1f1;
  }

  .custom-scrollbar:hover {
    scrollbar-color: #999 #f1f1f1;
  }
}

/* Optional: Smooth scrolling on touch devices */
.custom-scrollbar {
  -webkit-overflow-scrolling: touch;
}